<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Últimos 5 Registros de Fingerprints</title>
        <link rel="stylesheet" href="/css/view-records.css">
    </head>
    <body>
        <div class="container">
            <h1>Últimos 5 Registros para o Identificador "<%= selectedIdentifier %>" com Valor "<%= identifierValue %>"</h1>
            
            <!-- Botão de Voltar -->
            <button onclick="window.location.href='/'" class="back-button">Voltar</button>
            
            <table>
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Detalhes</th>
                    </tr>
                </thead>
                <tbody>
                    <% fingerprints.forEach(fingerprint => { %>
                        <tr>
                            <td><%= new Date(fingerprint.timestamp).toLocaleString() %></td>
                            <td>
                                <table class="data-table">
                                    <tbody>
                                        <% Object.keys(fingerprint._doc).forEach((key) => { 
                                            if (key !== '_id' && key !== '__v') { 
                                                const isIdentifier = key === selectedIdentifier;
                                        %>
                                        <tr class="<%= isIdentifier ? 'highlighted-row' : '' %>">
                                            <td class="key"><%= key %></td>
                                            <td class="value"><%= fingerprint[key] %></td>
                                        </tr>
                                        <%    } 
                                        }); %>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </body>
</html>

